body{
  /*font-family: */
/*  font-size: 20px; */
  line-height: 1.6;
  color: #fff;
/*  background: url(../css/1.jpg) center
  no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  color: #FFFFFF;
  z-index: -1000;*/
}

/*header*/
.header{
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

/*Контейнер*/
.container{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

/*Навигация*/
.nav{
  max-height: 25px;
  font-size: 14px;
  text-transform: uppercase;
  margin: 0;
  padding-top: 10px;
  align-items: center;
}
/*Личный кабинет*/
.button{
  display: inline-block;
  vertical-align: top;
  text-align: center;
  font-size: 17px;
  color:#fff;
  border: 1px;
  width: 170px;
  height: 20px;
  border-style: solid;
  border-color: #000;
  line-height: 20px;
  background:#4169E1;
  text-decoration: none;
  margin:-25px 0 0 1027px;
}

/*"nav_link"*/
.nav_link{
  display: inline-block;
  vertical-align: top;
  margin: 0 10px;
  color:#B8860B;
  text-decoration: none;
  transition: color .2s linear;
  }
  .nav_link:hover{
    color: #000;
  }
/*Картинка*/
.logo{
  border: 2px;
  border-style: dashed;
  border-color: #4169E1;
  border-left: 0;
  border-right: 0;
  font-size: 30px;
  font-weight: 700;
  color: #000;
  margin: 0;
  align-items: center;
}
/*Номер телефона*/
.number{
  margin:-48px 0 0 970px
}

/*intro*/
.intro{
  width: 100%;
  height: 100vh;
}
/*Меню*/
.menu{
  border: 2px;
  border-style: solid;
  border-color: #4169E1;
  color: #fff;
  background: #4169E1;
  font-size: 25px;
  font-weight: 700;
  color: #000;
  margin:100px 0 0 0px
}
/*Кнопки меню*/
.menu_batton{
  font-size: 18px;
  display: inline-block;
  vertical-align: center;
  margin: 0 3px;
  text-decoration: none;
  color: #fff;
  position: relative;
  transition: color .2s linear;
}

.menu_batton:after{
  content: " ";
  display: inline-block;
  background-color:#fff;
  position:absolute;
  top: 100%;
  left: 0;
  z-index: 1;
}

.menu_batton:hover{
  color:#B8860B;
}
/*Картинка после меню*/
.image_logo{
  position: absolute;
  margin:-880px 0 0 0px
}

/*Рамка регистрации*/
.reg_border{
  text-align: left;
  font-size: 25px;
  border: 2px;
  border-style: solid;
  border-color: #4169E1;
  color: #fff;
  background: #4169E1;
  height: 130px;
  margin: -260px 0 0 0;
}

/*Кнопка регистрации*/
.reg_button{
  display: inline-block;
  vertical-align: top;
  text-align: center;
  font-size: 25px;
  color:#fff;
  border: 1px;
  width: 220px;
  height: 40px;
  border-style: solid;
  border-color: #fff;
  line-height: 37px;
  background:#4169E1;
  text-decoration: none;
  margin:-85px 0 0 800px;
}

/*Рамка для таблицы передачи показаний*/
.border_table{
  display: inline-block;
  vertical-align: top;
  text-align: center;
  color:#fff;
  border: 1px;
  width: 400px;
  height: 400px;
  border-style: solid;
  border-color: #fff;
  border-radius: 10px;
  line-height: 37px;
  background:#4169E1;
  text-decoration: none;
  margin:20px 0 0 0px;
}

/*Передача показаний с счетчика*/
.table_meter_reading{
margin: 30px 0 0 50px;
  font-size: 16px;

}
/*Таблица показаний счетчика*/
table{
  border-spacing: 1px;
}
td{
  line-height: 30px;
}

/*Заголовок таблицы показания счетчика*/
.meter_reading_name{
  text-align: center;
  font-size: 30px;
  line-height: 10px;
}

/*Размеры текстовых блоков в таблице*/
.text_box_table{
  border-radius: 5px;
  padding: 6px 2px;
  font-size: 14px;
}
/*Кнопка отправки показаний счетчика*/
.button_send{
  position: relative;
  left: 50%;
  transform: translate(-110%, 0);
  border-radius: 6px;
  background: #4169E1;
  border-color: #fff;
  border-width: medium;
  line-height: 40px;
  margin: 30px 0 0 0;
  font-size: 16px;
  color: #fff;
}
/*Таблица тарифов для физ. лиц*/
.rate_table{
  font-size: 18px;
  position: relative;
  left: 107%;
  transform: translate(-111%, -150%);
  border-radius: 10px;
 background: #4169E1;
 border-color: #000;
 border-width: 3px;
 width: 790px;
 margin: 0 0 0 3px;
}

/*Копирайт*/
.copyright{
 position: relative;
 left: 100%;
 transform: translate(-100%, -220%);
 font-size: 18px;
 color: #fff;
 position: relative;
 background: #4169E1;
 border-color: #000;
 border-width: 3px;
 height: 100px;
 width: 1200px;
 line-height: 100px;
 }
